:host {
  width: 90%;
  height: 88%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: auto;

}

.filter-container {
  position: absolute;
  top: 0;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.filter-container mat-form-field {
  width: 90%;
}

.table-container {
  width: 90%;
  height: 90%;
  margin: auto;
  overflow-x: auto;
}

.mat-table {
  border-spacing: 5px;
  text-align: center;
}

table {
  width: 100%;
  overflow-x: auto;
}

mat-paginator {
  position: sticky;
  bottom: 0;
  left: 0;
  border: 1px solid transparent;
}

