<mat-card class="product-card" *ngFor="let product of products">
  <mat-card-header>
    <div mat-card-avatar class="product-header-image"></div>
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-subtitle>{{ product.name }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="product.image" width="300" height="150" alt="Product Image" />
  <p>{{ product.quantity }}  in stock</p>
  <mat-card-actions>
    <button mat-button>ENTER</button>
    <button mat-button>CANCEL</button>
  </mat-card-actions>
</mat-card>
<br/><br/><br/><br/><br/>
