<mat-card class="limit">
  <button
    mat-button
    (click)="toggle(drawer)">
    <mat-icon>{{ menuItemIconIsOpen? 'menu_open' : 'menu' }}</mat-icon>
  </button>

  <button
    class="right"
    *ngFor="let item of menuItemLinks"
    [routerLink]="item.link"
    mat-button
    >{{ item.label }}</button>
</mat-card>
<mat-drawer-container
  style="
    position:absolute;
    width: 100%;
    height: 88%;"
  hasBackdrop="false">
  <mat-drawer #drawer mode="side">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>

