.toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

mat-drawer-container {
  position: absolute;
  background-image: url(https://i.pinimg.com/originals/f9/fe/72/f9fe727c8fb7d7cc204dce1a994ed77c.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  top: 64px;
  bottom: 47px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

mat-drawer-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  flex: 1;
}
mat-toolbar-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
mat-toolbar-row button {
  font-size: 9px;
}

mat-drawer {
  border: none;
}

