<mat-card>
  <button
    mat-button
    (click)="toggle(drawer)">
    <mat-icon>{{ menuItemIconIsOpen? 'menu_open' : 'menu' }}</mat-icon>
  </button>

  <button
    class="right"
    *ngFor="let item of menuItemLinks"
    [routerLink]="item.link"
    mat-button
    >{{ item.label }}</button>
</mat-card>
<mat-drawer-container
  style="position:absolute;"
  hasBackdrop="false">
  <mat-drawer #drawer mode="side" style="height:90%;">
    <br/><br/><br/><br/><br/>
    <app-sidebar style="position:relative;top:60px"></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <br/><br/><br/><br/>
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>

