mat-dialog-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

img {
  max-width: 400px;
}

.show-item {
  position: sticky;
  top: 0;
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-item img {
  width: 400px;
  height: 300px;
}

.image-src {
  width: 400px;
  height: 300px;
  background-size: 100% 100%;
}
