
<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content class="typografic">
  <mat-card>
    <mat-card-header>
    <mat-card-title>{{ data.content.name }}</mat-card-title>
    <mat-card-subtitle>
      {{ date | date:'medium' }} {{ data.content.quantity }}
    </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img mat-card-image [src]="data.content.image" alt="Product Image" />
        <p>{{ data.content.quantity }}  in stock</p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <app-dynamic-form [questions]="data.questions"></app-dynamic-form>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
