<h3 mat-dialog-title>Product Detail</h3>
<h4 mat-dialog-subtitle>_id: {{ product._id }}</h4>
<h5 mat-dialog-subtitle>CreateAt: {{ product.createdat }}</h5>

<mat-dialog-content>
  <div>
    <mat-list>
      <mat-list-item>Name: {{ product.name }}</mat-list-item>
      <mat-list-item>Mark: {{ product.mark }}</mat-list-item>
      <mat-list-item>Quantity: {{ product.quantity }}</mat-list-item>
      <mat-list-item>Sale: {{ product.sale }}</mat-list-item>
      <mat-list-item>Price: {{ product.price }}</mat-list-item>
    </mat-list>
  </div>
  <div>
    <img [src]="product.image" width="300" height="320" alt="Product Image" />
  </div>
  <div>
    Features:
    <mat-list>
      <mat-list-item *ngFor="let feature of product.features | keyvalue">
        {{ feature.key | titlecase }}: {{ feature.value }}
      </mat-list-item>
    </mat-list>
  </div>

</mat-dialog-content>