:host {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
  height: 30px;
}

.toolbar {
  background: #99b7e0;
  color: #ffffff;
}

:host, mat-toolbar-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
mat-toolbar-row {
  font-size: 12px;
}
