/* You can add global styles to this file, and also import other style files */

$color-primary: #2196F3;
$color-secondary: #E91E63;
$color-danger: #F44356;
$color-success: #CDDC59;
$color-warning: #FFEB2A;
$color-dark: #262626;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.limit {
  background-color: #3f51b5;
  border-radius: 0;
  color: #ffffff;
}

.bg-primary {
  background-color: $color-primary;
  color: #ffffff;
}
.bg-danger {
  background-color: $color-danger;
  color: #ffffff;
}
.bg-secondary {
  background-color: $color-secondary;
}
.bg-success {
  background-color: $color-success;
}
.bg-warning {
  background-color: $color-warning;
}
.bg-dark {
  background-color: $color-dark;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0 #fff;
  border-radius: 0;
}
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}
::-webkit-scrollbar-thumb:active {
  background: #888;
}
::-webkit-scrollbar-track {
  background: #666;
  border: 0 #fff;
  border-radius: 0;
}
::-webkit-scrollbar-track:hover {
  background: #666;
}
::-webkit-scrollbar-track:active {
  background: #333;
}
::-webkit-scrollbar-corner {
  background: 0 0;
}
