@import './assets//scss//custom-theme.scss';

$color-primary: #1976d2;
$color-secondary: #E91E63;
$color-danger: #F44356;
$color-success: #CDDC59;
$color-warning: #FFEB2A;
$color-dark: #262626;

* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.7;
  background-image: url(https://i.pinimg.com/originals/f9/fe/72/f9fe727c8fb7d7cc204dce1a994ed77c.jpg);
  background-size: cover;
}

.limit {
  background-color: #1976d2;
  border-radius: 0;
  color: #ffffff;
}

.bg-primary {
  background-color: $color-primary;
  color: #ffffff;
}
.bg-danger {
  background-color: $color-danger;
  color: #ffffff;
}
.bg-secondary {
  background-color: $color-secondary;
}
.bg-success {
  background-color: $color-success;
}
.bg-warning {
  background-color: $color-warning;
}
.bg-dark {
  background-color: $color-dark;
}
