<br/><br/><br/><br/><br/>

<div class="container-card">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Create your Account</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-dynamic-form #dinamicForm [questions]="questions"></app-dynamic-form>
    </mat-card-content>
    <mat-card-actions>
      <button
      type="submit"
      mat-raised-button color="primary"
      [disabled]="!dinamicForm.form.valid"
      (click)="dinamicForm.onSubmit()"
      >CREATE</button>
    </mat-card-actions>
    <a routerLink="/signin">Sign in instead</a>
  </mat-card>
</div>
