:host {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-flow: row wrap;
}

mat-card, div {
  display: inline-block;
  width: 400px;
}

app-report {
  display: inline-block;
}

app-filter {
  position: absolute;
  bottom: 15px;
}


