<div [formGroup]="form">
  <div formGroupName="section">
    <mat-form-field
      *ngFor="let sec of section.controls | keyvalue"
      appearance="outline"
      hideRequiredMarker="required">

      <mat-label>{{ sec.key | titlecase }}</mat-label>
      <input
      matInput
      [placeholder]="sec.key | titlecase"
      [formControlName]="sec.key"
      aria-describedby="enter"
      autocomplete="off"
      [value]="section.controls[sec.key].value"
      [id]="sec.key"
      type="text"
      required />
      <mat-error *ngIf="!section.valid">Field {{ errorInput(section.controls[sec.key].errors) }}</mat-error>
    </mat-form-field>

  </div>
</div>

