<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Products
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>Info</mat-list-item>
      <mat-list-item>Add</mat-list-item>
    </mat-list>

  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Reports
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>Info</mat-list-item>
      <mat-list-item>Add</mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
