:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

mat-card-header {
  justify-content: center;
}

mat-card {
  padding: 30px 50px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
}


